---

---
$background-color: #fcf7f7;
$grey-color: #111;
$brand-color: #000000;
$text-color: #111;
$hover-color: #175e77;


img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}
a {
  color: $brand-color;
  text-decoration: none;

  &:visited {
    color: darken($brand-color, 15%);
  }

  &:hover {
    color: $hover-color;
    font-style: italic
  }

  .social-media-list &:hover {
    text-decoration: none;

    .username {
      text-decoration: italic;
    }
  }
}

@import "minima";

